*nbactions.xml
*.bak
*.jar
*.cfg.xml
*.swp
*.csv
*.log
*.log.1
.classpath
/BE/nnCloudRESTService/target/
/BE/JavaApplication27/nbproject/private/
/GPUserver/nncGPUServer/target/
/GPUserver/nncGPUServer/nbproject/
/GPUserver/nncGPUServer/nbproject/
/GPUserver/nncGPUServer/.classpath
/GPUserver/nncGPUServer/.project
/GPUserver/nncGPUServer/nb-configuration.xml
/BE/nnCloudRESTService/nbproject/